@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="pt-5" style='color : steelblue;text-align:center'>Add a new Executive</h1>

<div class="row">
    <div class="col-md-6 mx-auto">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h5 class="text-secondary">Create a new account.</h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-2">
                <input asp-for="Input.Username" class="form-control" />
                <label asp-for="Input.Username"></label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="Input.PhoneNumber2" class="form-control" />
                <label asp-for="Input.PhoneNumber2"></label>
                <span asp-validation-for="Input.PhoneNumber2" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="Input.Email" class="form-control" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="Input.Password" class="form-control" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="my-3 ms-2">
                <div class="form-check">
                    <input asp-for="Input.IsAdmin" class="form-check-input" />
                    <label asp-for="Input.IsAdmin" class="form-check-label"></label>
                </div>
            </div>
            <div class="form-group mt-2 ms-5">
                <button id="registerSubmit" type="submit" class="btn btn-primary col-md-5" style="background-color : steelblue">Register</button>
                <a asp-action="Index" class="btn btn-success col-md-5">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}