@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>
                    Your gateway to the future of driving
                </h1>
                <h2>
                    AutoHaven: The ultimate destination for car lovers, offering unmatched quality, style, and trust.
                </h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a class="btn-get-started scrollto" href="@Url.Action("Index", "Car")#about">Explore</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/lib/images/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        AutoHaven: Your Premier Destination for Car Enthusiasts
                        At AutoHaven, we bring you an extensive selection of the latest car models from top manufacturers, along with a range of high-quality pre-owned vehicles. Whether you're a car aficionado or a first-time buyer, our intuitive website ensures you find the perfect vehicle to match your style and needs. With competitive prices and flexible financing options, owning your dream car has never been easier. Why wait? Visit AutoHaven today and drive into the future with confidence!
                    </p>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
						AutoHaven: The Ultimate Marketplace for Car Enthusiasts<br />
                        AutoHaven is your go-to destination for all things cars. Whether you're searching for brand-new models or reliable pre-owned vehicles from top brands, we've got something for everyone—from sleek sedans to rugged SUVs and everything in between. Our user-friendly platform makes finding your dream car effortless and affordable. With secure online payment options and quick delivery, you'll be ready to hit the road in no time. Join the AutoHaven community today and discover the joy of driving your perfect car!
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                    <img src="~/lib/images/why-us.png" class="img-fluid" alt="our clients">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                    <div class="skills-content">
                        <h3>Rated by our clients</h3>
                        <p class="fst-italic">
                            We understand that purchasing a car is a significant investment, which is why we make customer trust and satisfaction our top priority.
                        </p>
                        <div class="progress">
                            <span class="skill">Authenticity <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Quality <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Money-Back Policy <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Delivery Time <i class="val">55%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Skills Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title" style="text-align:center">
                <h2>Services</h2>
                <p>
                    At AutoHaven, we make car shopping a breeze.<br />
                    Explore our wide range of services designed to simplify your search for the perfect vehicle. Our user-friendly website lets you browse through an extensive selection of new and pre-owned cars, filter your search by make, model, or price, and even compare models side by side. Once you've found your ideal car, secure your purchase quickly and confidently with our safe and hassle-free online payment options. AutoHaven is here to make your car-buying journey smooth, convenient, and enjoyable!.
                </p>
            </div>

            <div class="row" style="text-align:center">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><img src="~/lib/images/front-end.png" height="40 rem" /></div>
                        <h4><a href="">Great User Experience</a></h4>
                        <p>We believe that a great user experience is essential for our customers. That's why we've designed our website to be user-friendly, easy to navigate, and intuitive.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><img src="~/lib/images/point.png" height="40 rem" /></div>
                        <h4><a href="">Top Tier Quality</a></h4>
                        <p>We are dedicated to delivering top-quality cars to our customers. Every vehicle in our inventory is carefully selected and thoroughly inspected to ensure it meets our rigorous standards for condition, reliability, and performance. At AutoHaven, your satisfaction and trust are our top priorities..</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><img src="~/lib/images/handshake.png" height="40 rem" /></div>
                        <h4><a href="">No Middle-man</a></h4>
                        <p>Our Products come directly from the constructor</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><img src="~/lib/images/location.png" height="40 rem" /></div>
                        <h4><a href="">Anywhere you are</a></h4>
                        <p>We collaborate with a reliable network of trusted shipping partners to ensure your car is delivered safely and on time. No matter where you are located, you can count on us to bring your dream car right to your doorstep with care and professionalism..</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Gallery</h2>
                <p>We offer a wide variety of choices.</p>
            </div>

            <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Classic</li>
                <li data-filter=".filter-card">Super</li>
                <li data-filter=".filter-web">Muscle</li>
            </ul>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="~/lib/images/portfolio/portfolio-1.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Lamborghini</h4>
                        <p>Huracan</p>
                        <a href="~/lib/images/portfolio/classic-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="~/lib/images/portfolio/vespa-1.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Chevrolet</h4>
                        <p>SS</p>
                        <a href="~/lib/images/portfolio/vespa-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="~/lib/images/portfolio/classic-2.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Delahaye</h4>
                        <p>135</p>
                        <a href="~/lib/images/portfolio/classic-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="~/lib/images/portfolio/portfolio-2.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Maserati</h4>
                        <p>MC20</p>
                        <a href="~/lib/images/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="~/lib/images/portfolio/vespa-2.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Dodge</h4>
                        <p>Charger SRT</p>
                        <a href="~/lib/images/portfolio/vespa-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="~/lib/images/portfolio/portfolio-3.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Bugatti</h4>
                        <p>Chiron</p>
                        <a href="~/lib/images/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="~/lib/images/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Ferrari</h4>
                        <p>Spider</p>
                        <a href="~/lib/images/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="~/lib/images/portfolio/classic-4.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Mercedes</h4>
                        <p>SL 1960</p>
                        <a href="~/lib/images/portfolio/classic-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Portfolio Section -->
   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>676 INSAT Centre Urbain Nord BP، Tunis Cedex 1080, Tunisia</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>noreply@AutoHaven.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+216 51 054 359</p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main><!-- End #main -->