@model Cars.Models.Make
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 style='color : steelblue'>Edit Make of vehicle</h2>

<form method="post" action="Edit">
    <div class="row mt-4">
        <div class="col-2">
            <h5 class="text-end text-secondary mt-1">Name</h5>
        </div>
        <div class="col-4">
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group col-6">
            <input type="submit" class="btn btn-primary" value="Update" asp-route-id="@Model.Id" style="background-color : steelblue" />
            <a asp-action="Index" class="btn btn-success">Back</a>
        </div>
    </div>
</form>